wscalc1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wscalc1"
                  targetNamespace="http://localhost:8000/wscalc1"
                  xmlns="http://localhost:8000/wscalc1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:message name="sumarRequest">
    <wsdl:part name="a" type="xs:string"></wsdl:part>
    <wsdl:part name="b" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="multiplicarRequest">
    <wsdl:part name="a" type="xs:string"></wsdl:part>
    <wsdl:part name="b" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="multiplicarResponse">
    <wsdl:part name="res" type="xs:string"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="sumarResponse">
    <wsdl:part name="res" type="xs:string"></wsdl:part>
  </wsdl:message>


  <wsdl:portType name="calcP">
    <wsdl:operation name="sumar">
      <wsdl:input message="sumarRequest"></wsdl:input>
      <wsdl:output message="sumarResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="multiplicar">
      <wsdl:input message="multiplicarRequest"></wsdl:input>
      <wsdl:output message="multiplicarResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="calcB" type="calcP">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="sumar">
      <soap:operation soapAction="sumar"/>
      <wsdl:input>
        <soap:body use="literal"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="multiplicar"/>
      <wsdl:input>
        <soap:body use="literal"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ws">
    <wsdl:port name="calc" binding="calcB">
      <soap:address location="http://localhost:8000/wscalc1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
